alx_travel_app/.env
env/
alx_travel_app/__pycache__/
listings/__pycache__/
listings/migrations/__pycache__/
db.sqlite3
alx_travel_app/alx_travel_app/.env
alx_travel_app/alx_travel_app/listings/migrations/__pycache__/
alx_travel_app/alx_travel_app/listings/__pycache__/
alx_travel_app/alx_travel_app/__pycache__/
alx_travel_app/listings/__pycache__/
alx_travel_app/listings/__pycache__/
alx_travel_app/listings/__pycache__/
alx_travel_app/listings/migrations/__pycache__/
alx_travel_app/listings/migrations/__init__.py:Zone.Identifier
*.pyc
CELERY_SETUP_SUMMARY.py
alx_travel_app/email_settings_console.py
setup_celery_rabbitmq.sh
alx_travel_app/test_celery_integration.py
test_email_sync.py
test_celery_tasks.py
CV_Work_Experience_Entry.md
